[Unit]
Description=dell-fan-monitor

[Service]
User=root
ExecStart=/usr/bin/nice -n -10 /bin/bash /opt/dell-fan-monitor/dell-fan-monitor.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
