[Unit]
Description=dell-fan-monitor

[Service]
User=root
ExecStart=/opt/dell-fan-monitor/dell-fan-monitor.sh
Nice=-10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
